./Buildfile
./Procfile
config.yml
tmp/
.vscode/
*.test
tokens.json
artifact.zip
deploy.ps1
update.ps1
preloru.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
