# Creating log file with correct rights
files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/preloru.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/preloru.log
commands:
  # Create directory with access to the webapp for storing certificates
  01_create_cert_dir: 
    command: mkdir -p -m 766 /etc/preloru
  02_reboot_nginx:
    command: service nginx reload

